 <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Abrir Sobres</title>
  <link rel="stylesheet" href="../../shared/css/globales.css">
  <link rel="stylesheet" href="./sobres.css" />
  <link rel="stylesheet" href="../coleccion/coleccion.css" />
</head>
<body>
  <header>
    <h1>Abrir Sobres</h1>
  </header>

  <main>

    <div class="sobre-decorativo">
      <h2>POKEMON</h2>
      <p>TRADING CARD GAME</p>
      <p>5 CARTAS</p>
    </div>

    <button class="btn-abrir">¡Abrir Sobre!</button>

    <section class="informacion">
      <p><strong>Contenido del sobre:</strong></p>
      <ul>
        <li>5 cartas aleatorias</li>
        <li>Posibilidad de cartas raras</li>
        <li>¡Colecciona todos los Pokémon!</li>
      </ul>
    </section>

  </main>

    <nav class="nav-inferior">
         <a href="../../index.html" class="nav-link" data-page="coleccion">Colección</a>
            <a href="../sobres/sobres.html" class="nav-link" data-page="sobres">Sobres</a>
            <a href="../intercambio/intercambio.html" class="nav-link" data-page="intercambio">Intercambio</a>
    </nav>

    <script src="../../shared/js/navbar.js"></script>
    <script src="./sobres.js"></script>

</body>
</html>
