@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #e7e7e7;
    --clr-white: #f7f7f7;

    --type-normal:#9FA19F;
    --type-fire: #E62829;
    --type-water: #2980EF;
    --type-grass: #81B9EF;
    --type-electric: #FAC000;
    --type-ice: #3DCEF3;
    --type-fighting: #FF8000;
    --type-poison: #9141CB;
    --type-ground: #915121;
    --type-flying: #81B9EF;
    --type-psychic: #EF4179;
    --type-bug: #91A119;
    --type-rock: #AFA981;
    --type-ghost: #704170;
    --type-dark: #624D4E;
    --type-dragon: #5060E1;
    --type-steel: #60A1B8;
    --type-fairy: #EF70EF;
    --type-stellar:#40B5A5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}


ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* Aquí todo el CSS extra */

body {
    min-height: 100vh;
    background-color:var(--clr-gray) ;
    padding-bottom: 60px; /* Igual a la altura de .nav-inferior */
}

/*header completo*/
.coleccion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1rem;
  background-color: var(--clr-white);
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,.5);
}

/*titulo del header*/
.coleccion-titulo {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}

/*contador del header*/
.coleccion-contador {
  background-color: var(--clr-gray);
  padding: 0.3rem 1rem;
  border-radius: 999px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 500;

}

/*espacio de la busqueda para que abarque toda la pantalla*/
.busqueda-contenedor {
  width: 100%;
  margin-bottom: 0.25rem;
}

/*input como tal*/
.busqueda-input {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 999px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

/*todo lo de la lista de los tipos*/
.nav{
    width: 100%;
  overflow-x: auto;
  margin-bottom: 2rem;
}

.nav-list {
  display: flex;
  gap: 0.3rem;
  overflow-x: auto;
  flex-wrap: nowrap; /* Evita que salten de línea */
  padding: 0.5rem 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.nav-list::-webkit-scrollbar {
  display: none; /* Opcional: oculta la barra de scroll */
}

/*Botones de esa lista*/
.btn-header{ 
    padding: 0.4rem 0.9rem;
    border-radius: 999px;
    background-color: #ddd;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s;
}

.btn-header:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem  rgba(0, 0, 0, .15);
}

/*barra de progreso*/
.progreso-contenedor {
  width: 100%;
  font-size: 1rem;
  font-weight: 3000;
  color: #555;
}

.progreso-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

#progreso {
  flex-grow: 1;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

#porcentaje-progreso {
  min-width: 30px;
  text-align: right;
}

/*main de mi pagina*/
main{
    padding: 2rem;
    max-width: 1000px;  /*Cambiado*/
    margin: 0 auto;
    padding-inline: 1rem;
}

/*contenedor que tiene todas mis cartas y sus opciones de layout*/
.pokemon-todos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


@media (min-width: 600px) {
  .pokemon-todos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) {
  .pokemon-todos {
    grid-template-columns: repeat(5, 1fr);
  } 
}

/*cada carta*/
.pokemon{
    border-radius: 0.5rem;
    background-color: var(--clr-white);
    box-shadow: 00 3rem -1rem rgba(0,0,0,0.25);
    padding-block: 1rem;
    text-transform: capitalize;
    overflow: hidden;
    transition: 0.2s;

   
}

/*si me le pongo encima a la carta*/
.pokemon:hover {
  cursor: pointer;
  box-shadow: 0 0 2rem  rgba(0, 0, 0, .35);
  transform: scale(1.3);
}

/*PURAS COSAS ESPECIFICAS DE LAS CARTAS*/
.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen img{
    width: 100%;
    max-width: 6rem;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;  
} 

.pokemon-info h2{
  
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  .pokemon-info h2{
    font-size: 1.3rem;
  }

}

@media (min-width: 900px) {
  .pokemon-info h2{
    font-size: 1.5rem;
  }
}

.pokemon-stats {
  align-self: flex-start;
  text-align: left;
}

.stat{
    background-color: var(--clr-gray);
    font-size: small;
    padding: .4rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    color: var(--clr-black);
}

@media (max-width: 599px) {
  .pokemon-stats {
    align-self: center;
    text-align: center;
    width: 100%;
  }

  .stat {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    margin-top: 0.3rem;
    display: inline-block;
  }
}


/*para cuando un pokemon esta bloqueado*/
.pokemon.bloqueado {
  pointer-events: none;
  cursor: default;
}



/*A partir de aca empieza todo lo del modal*/

/* Modal general */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Ocultar modal por defecto */
.modal.oculto {
  display: none;
}

.modal-contenido {
  background-color: var(--clr-white);
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.modal-cerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--clr-gray);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
}

.modal-cerrar:hover {
  background-color: var(--clr-black);
  color: white;
}

/* Ocultar scrollbar interno del modal */
.modal-contenido::-webkit-scrollbar {
  display: none;
}


/* Aquí comienzan los colores de botones según tipo */
.vtodos{
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.normal {
    background-color: var(--type-normal);
    color: var(--clr-white);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-white);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-white);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-white);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-white);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-white);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-white);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-white);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-white);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-white);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}



.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-white);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-white);
}
