<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Intercambio de cartas</title>
        <link rel="stylesheet" href="../../shared/css/globales.css">
    </head>

    <body>
        <nav class="nav-inferior">
            <a href="../../index.html" class="nav-link" data-page="coleccion">Colección</a>
            <a href="../sobres/sobres.html" class="nav-link" data-page="sobres">Sobres</a>
            <a href="../intercambio/intercambio.html" class="nav-link" data-page="intercambio">Intercambio</a>
        </nav>
        <script src="../../shared/js/navbar.js"></script>   
    </body>
</html>